/priv.el

*.dat

auto-save-list
elpa
.python-environments/
image-dired/
/projectile-bookmarks.eld
/tramp
/projectile.cache
/recentf
/eshell
/url
/games/
/request/

/var/
/.cache/
/auto-save-list/
/straight/*
!/straight/versions/

/eclipse.jdt.ls/
/workspace/

# Created by https://www.gitignore.io/api/elisp,emacs
# Edit at https://www.gitignore.io/?templates=elisp,emacs

### Elisp ###
# Compiled
/eln-cache/
*.elc
*.eln

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

### Emacs ###
# -*- mode: gitignore; -*-
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data


# End of https://www.gitignore.io/api/elisp,emacs
/.dap-breakpoints

/bookmarks
